@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.Navbar {
  font-family: Poppins;
  margin: 1rem;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 15%);
  border-radius: 16px;
}
.NavbarPhone{
  display: flex;
  align-items: center;
  gap:1rem;
  flex-direction: column-reverse;
  justify-content: space-between;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 15%);
  border-radius: 16px;
}
.Phone{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;

  /* background-color: red; */
  /* flex-direction: column; */
}
.navBtn{
  display: none;
}

.logoContainer {
  padding: 0.3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.shapeContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.square {
  width: 1rem;
  height: 1rem;
  background: #394149;
}
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #394149;
}
.textContainer {
  position: relative;
}

.textContainer span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: #394149;
}
.textContainer span:nth-child(2):after {
  content: "";
  position: absolute;
  top: 4px;
  right: -2px;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: #394149;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuContainer ol li {
  margin: 0rem 1rem;
}
.home{
  text-decoration: none;
}
.link {
  color: #394149;
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
  background: #43dde6;
  border-radius: 44px;
}

.menuIcon {
  display: none;
}
@media (max-width: 596px) {
 .list {
    display: none;
  }
  .navBtn,.menuIcon{
    display: block !important;
  } 
}
