@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.footerContainer {
  background: #364f6b;
  margin: 1rem;
  font-family: "Lato";

  border-radius: 32px 32px 0px 0px;
  //   padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer {
    border-bottom: 2px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    .upperfooter {
      display: flex;
      .left {
        display: flex;
        flex-direction: column;
        width: 80%;
        font-size: 2rem;
        color: #ffffff;
        font-style: normal;
        line-height: 86px;
        margin: 1rem 0rem 0rem 2rem;
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        //    width: 50%;
        margin: 1rem;
        padding: 1rem;
        p {
          text-align: justify;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          color: #d9d9d9;
        }
        .btn {
          padding: 0.5rem 2rem;
          width: fit-content;
          background: #43dde6;
          border-radius: 100px;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          text-transform: capitalize;
          color: #000000;
        }
      }
    }
    .lowerFooter {
      width: 100%;
      display: flex;
      margin: 1rem;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      .handle {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .logo {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;

          .shapeContainer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .square {
              width: 1.5rem;
              height: 1.5rem;
              background: #ffffff;
            }
            .circle {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background: #ffffff;
            }
          }
          .textContainer {
            position: relative;
            span:nth-child(1) {
              font-size: 28px;
              font-weight: bold;
              color: #ffffff;
            }
            span:nth-child(2):after {
              content: "";
              position: absolute;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              background: #ffffff;
            }
          }
        }
        .socialHandle {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          .Icon {
            padding: 0.2rem;
            background-color: #ffffff;
            border-radius: 50%;
            font-size: 40px;
          }
        }
      }
      .addressSection {
        width: 70%;
        display: flex;
        justify-content: space-around;

        .address,
        .call,
        .policies {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .heading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: #ffffff;
          }
          .paragraph {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 1rem;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #ffffff;
    }
  }
}

$layout-breakpoint-small: 840px;
@media (max-width: $layout-breakpoint-small) {
  .upperfooter {
    flex-direction: column;
    .left{
        flex-direction: row;
    }
  }
  .lowerFooter {
    flex-direction: column;
    justify-content: center;
    .handle {
      margin: 1rem;
    }
    .addressSection{
        flex-direction: column;
    }
  }
}
