@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.outerContainer {
  display: flex;
  justify-content: center;
}
.contentContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.mySwiper{
/* text-align: center; */
display: flex !important; 
padding: 1rem !important;
/* height: fit-content; */
  justify-content: space-between !important;
  width:600px !important;
}
.slide{
  display: flex !important;
  align-items: center !important;
  justify-content: space-around;
}

.Carousellogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}

.CarouselshapeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
 .Carouselsquare {
  width: 1.5rem;
  height: 1.5rem;
  background: #ffffff;
}
 .Carouselcircle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #ffffff;
}
.CarouseltextContainer {
  position: relative;
}

.CarouseltextContainer span:nth-child(1) {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

 .Carouseldot::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
 background-color: #ffffff;
}

.company{
  display: none;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.textContainer h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3rem;

  color: #364f6b;
}
.textContainer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #333333;
}
.textContainer .btn,
.workContainer .btn {
  padding: 0.3rem 1rem;
  background: #43dde6;
  border-radius: 100px;
  color: black !important;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  width: fit-content;
}

.imageContainer {
  width: 50%;
  height: 60vh;
  background-image: url(../../../src/assets/internship.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.middleSection {
  background: #364f6b;
  margin: 2.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  flex-direction: column;
}
.headingSection {
  display: flex;
  align-items: center;
  gap:1rem;
  width: auto;
}
.headingSection h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
/* width: fit-conten; */
  color: #ffffff;
}
.headingSection span {
  width: 100px;
  height: 2px;
  background: #d9d9d9;
}
.horizontal {
  width: 90%;
  background-color: white;
  height: 1px;
}

.services {
  width: 90%;
  display: flex;
  margin: 1rem;
}
.LowerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.serviceSection {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}
.leftSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.leftSection span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  /* line-height: 86px; */

  color: #ffffff;
}
.rightSection {
  width: 40%;
}
.rightSection p {
  margin: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #d9d9d9;
}

.row {
  height: auto;
  width: 5px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    rgba(54, 79, 107, 0.3),
    rgba(222, 222, 222, 0.5),
    rgba(54, 79, 107, 0.3)
  );
}

.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workContainer h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 86px;

  color: #364f6b;
}

.projectCard {
  display: flex;
}

@media (max-width: 837px) {
  .contentContainer {
    flex-direction: column;
  }
  .textContainer {
    gap: 1rem;
    align-items: center;
  }
  .imageContainer {
    width: auto;
  }
}

@media (max-width: 902px) {
  .projectCard {
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 794px) {
  .projectCard {
    flex-direction: column;
  }
}
@media (max-width: 617px) {
  .serviceSection {
    flex-direction: column;
    align-items: center;
  }
  .services {
    flex-direction: column;
    align-items: center;
  }
  .row {
    height: 5px;
    width: 80%;
  }
  .rightSection {
    width: auto;
    margin: 0;
  }

  .leftSection {
    width: auto;
    margin: 0;
  }
  .leftSection span {
    font-size: 60px;
  }
  .horizontal {
    width: 80%;
    background-color: white;
    height: 2px;
  }
}

@media (max-width:653px){
  .leftSection{
    padding: 1rem;
  }
}
@media (max-width:625px){
  .headingSection{
    flex-direction: column;
  }
  
}
@media (max-width:662px){
  .mySwiper{
display:none !important;
  }
  .company{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
  }
}